@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using CMS.Helpers

@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Widget.Video

@model VideoWidgetViewModel

@inject IPageBuilderDataContextRetriever pageBuilderContext

@if (!String.IsNullOrWhiteSpace(Model.VideoUrl))
{
    <div class="ktc-resp-container">
        <iframe data-widget-guid="@Guid.NewGuid()" src="@VideoHelper.GetVideoEmbedUrl(Model)" class="ktc-resp-iframe"></iframe>
    </div>
}
else if (pageBuilderContext.Retrieve().EditMode)
{
    <partial name="~/KenticoComponents/VideoWidget/_VideoUrlEditor.cshtml" model="Model" />
}
else
{
    <p>@ResHelper.GetString("Kentico.Widget.Video.VideoUrl.NotSet")</p>
}