// Override Froala editor's z-indexing since the zIndex option also sets the z-index to the main editor element,
// thus covers the add widget button and they refuse to change this behavior, see https://github.com/froala/wysiwyg-editor/issues/3588
.ktc-rich-text-wrapper {
    .fr-toolbar {
        z-index: inherit !important;

        .fr-more-toolbar {
            z-index: inherit !important;
        }

        .fr-dropdown-menu {
            z-index: 10015 !important;
        }
    }

    .ktc-macro {
        // font-family: "Courier New", Courier, monospace;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 3px;
        padding: 0 4px;
        background-color: #e5e5e5;

        &:hover {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
        }
    }

    .ktc-configure-popup {
        padding: 10px;
    }
}

.fr-popup.fr-active {
    z-index: 10015 !important;
}

.fr-toolbar.fr-inline.ktc-hidden {
    display: none !important;
}

.ktc-checkbox {
    label {
        margin-left: 0 !important;
    }
}

.ktc-select {
    height: 46px;
    width: 100%;
    margin-bottom: 1px;
    border-radius: 2px;
    background: #FFF;
    background-clip: padding-box;
    border: solid 1px #999999;
    color: #222222;
    font-size: 14px;
    position: relative;
    z-index: 2;
    padding: 4px 12px;
    box-sizing: border-box;

    &:focus {
        outline: none;
        border: solid 2px #0098f7;
        padding: 3px 11px;        
    }

    + label {
        position: absolute;
        z-index: 3;
        display: block;
        background: #FFF;
        cursor: text;
        color: gray;
        width: auto;
        left: 4px;
        padding: 0 4px;
        font-size: 11px;
        top: 9px;
    }
}
