@using CMS.Helpers

@using Kentico.Components
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc

@model VideoWidgetViewModel

@if (!String.IsNullOrWhiteSpace(Model.VideoUrl))
{
    <div class="ktc-resp-container">
        <iframe data-widget-guid="@Guid.NewGuid()" src="@VideoHelper.GetVideoEmbedUrl(Model)" class="ktc-resp-iframe"></iframe>
    </div>
}
else if (Context.Kentico().PageBuilder().EditMode)
{
    @await Html.PartialAsync("~/Components/Widgets/VideoWidget/_VideoUrlEditor.cshtml", Model)
}
else
{
    <p>@ResHelper.GetString("Kentico.Widget.Video.VideoUrl.NotSet")</p>
}