@import "../../../../shared/variables.less";

@fullscreen-z-index: 10205;
@form-component-height: @ktc-base-unit * 9;
@form-component-max-width: @ktc-base-unit * 20;
@form-component-border-size: 2px;
@preview-height: @form-component-height - @form-component-border-size * 2;
@preview-max-width: @form-component-max-width - @form-component-border-size * 2;

// Override for form component popups
.ktc-rich-text-form-component--fullscreen {
    .fr-popup.fr-active {
        z-index: 10210 !important;
    }

    .fr-tooltip {
        white-space: nowrap;
    }
}

.ktc-rich-text-form-component__froala {
    &.fr-box.fr-fullscreen {
        z-index: @fullscreen-z-index !important;

        .fr-toolbar {
            padding-right: 3 * @ktc-base-unit;
            
            .fr-newline {
                margin-right: -2.5 * @ktc-base-unit;
            }
        }
    }
}

.ktc-btn-rich-text-save {
    position: fixed;
    top: 0;
    right: 1.25 * @ktc-base-unit;
    z-index: @fullscreen-z-index;
    text-align: left;
    width: 38px;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    outline: none;
    margin: 4px 2px;
    padding: 0;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.5s, width 0.3s ease-in-out;
    
    &:hover {
        background: #ebebeb;
    }

    &:active {
        background-color: #d6d6d6;
    }

    .fr-svg {
        margin: 8px 7px;
        height: 24px;

        path {
            fill: #0098f7;
        }
    }

    .ktc-btn-save__label {
        font-family: @ktc-font-family;
        font-size: 15px;
        font-weight: bold;
        position: absolute;
    }

    &.ktc-btn-slide {
        color: #333333;
        width: 9 * @ktc-base-unit;
        background: #a3a2a2;

        .fr-svg path {
            fill: #333333;
        }
    }
}

.ktc-rich-text-form-component {
    max-width: @form-component-max-width;

    .ktc-form-control {
        &.ktc-preview-frame {
            padding: 0;
            height: @form-component-height;
        }
    }

    .ktc-preview {
        display: flex;
        position: absolute;
        height: @preview-height;
        width: 100%;
        max-width: @preview-max-width;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: .5s ease;
        margin: @form-component-border-size;
        background-color: fade(@ktc-color-white, 75%);
        // Allow scrolling of the iframe
        pointer-events: none;

        .ktc-preview-box {
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            user-select: none;
            pointer-events: auto;

            .ktc-info-text {
                margin-bottom: 0.5 * @ktc-base-unit;
                font-weight: bold;

                &.ktc-info-text--empty {
                    display: none;
                }
            }

            .ktc-btn {
                width: @ktc-base-unit * 4;
            }
        }
    }

    &:hover {
        .ktc-preview {
            opacity: 1;
        }
    }

    &.ktc-rich-text-form-component--empty {
        .ktc-preview {
            opacity: 1;

            .ktc-info-text {
                display: none;

                &.ktc-info-text--empty {
                    display: block;
                }
            }
        }
    }
}
