@import "../../../../shared/variables.less";

@fullscreen-z-index: 10205;
@preview-height: @ktc-base-unit * 9;
@form-component-max-width: @ktc-base-unit * 20;

.ktc-rich-text-form-component__froala {
    display: none;

    &.fr-fullscreen {
        display: block;

        .fr-toolbar {
            padding-right: 3 * @ktc-base-unit;
            
            .fr-newline {
                margin-right: -2.5 * @ktc-base-unit;
            }
        }

        &.fr-box.fr-fullscreen {
            z-index: @fullscreen-z-index !important;
        }
    }
}

.ktc-btn-rich-text-save {
    position: fixed;
    top: 0.5 * @ktc-base-unit;
    right: 0.5 * @ktc-base-unit;
    z-index: @fullscreen-z-index;
}

.ktc-rich-text-form-component {
    max-width: @form-component-max-width;

    .ktc-form-control {
        &.ktc-preview-frame {
            padding: 0;
            height: @preview-height;
        }
    }

    .ktc-preview {
        display: none;
        position: absolute;
        height: @preview-height;
        width: 100%;
        max-width: @form-component-max-width;

        justify-content: center;
        align-items: center;

        background-color: fade(@ktc-color-white, 50%);

        .ktc-preview-box {
            z-index: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            .ktc-info-text {
                margin-bottom: 0.5 * @ktc-base-unit;
                font-weight: bold;

                &.ktc-info-text--empty {
                    display: none;
                }
            }

            .ktc-btn {
                width: @ktc-base-unit * 4;
            }
        }
    }

    &:hover {
        .ktc-preview {
            display: flex;
        }
    }

    &.ktc-rich-text-form-component--empty {
        .ktc-preview {
            display: flex;

            .ktc-info-text {
                display: none;
    
                &.ktc-info-text--empty {
                    display: block;
                }
            }
        }
    }
}
