@using Kentico.PageBuilder.Web.Mvc

@using Kentico.Components.Web.Mvc.InlineEditors

@model Kentico.Components.Web.Mvc.Widgets.Models.RichTextWidgetViewModel

@if (Context.Kentico().PageBuilder().EditMode)
{
    Html.Kentico().RichTextEditor(Model.ContentPropertyName, Model.ConfigurationIdentifier);
}
else
{
    <div class="fr-view">
        @Html.Raw(Html.Kentico().ResolveRichText(Model.Content))
    </div>
}

