@using CMS.Helpers;

@using Kentico.Components.Web.Mvc.Widgets.Helpers;
@using Kentico.PageBuilder.Web.Mvc

@model Kentico.Components.Web.Mvc.Widgets.Models.VideoModel

@if (!String.IsNullOrWhiteSpace(Model.VideoUrl))
{
    <div class="ktc-resp-container">
        <iframe data-widget-guid="@Guid.NewGuid()" src="@VideoHelper.GetVideoEmbedUrl(Model)" class="ktc-resp-iframe"></iframe>
    </div>
}
else if (Context.Kentico().PageBuilder().EditMode)
{
    Html.RenderPartial("~/Views/Shared/Kentico/InlineEditors/_VideoUrlEditor.cshtml", Model);
}
else
{
    <p>@ResHelper.GetString("Kentico.Widget.Video.VideoUrl.NotSet")</p>
}