@using Kentico.Widget.Video.Helpers;

@model Kentico.Widget.Video.Models.VideoWidgetViewModel

@{ 
    var widgetGuid = Guid.NewGuid();
    var videoUrl = !string.IsNullOrWhiteSpace(Model.VideoUrl)
        ? $"https://www.youtube.com/embed/{YoutubeVideoHelper.GetVideoId(Model.VideoUrl)}"
        : null;
}

@if (videoUrl != null)
{
    <iframe data-widgetGuid="@widgetGuid" src="@videoUrl"></iframe>
} else
{
    <p>Configure video URL in widget properties.</p>
}

<script>
if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", function () {
        kenticoComponents.initVideoWidget("@widgetGuid");
    });
} else {
    kenticoComponents.initVideoWidget("@widgetGuid");
}
</script>
