@using CMS.Helpers;

@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Widget.Video.Helpers;

@model Kentico.Widget.Video.Models.VideoWidgetViewModel

@{
    var widgetGuid = Guid.NewGuid();
    var videoUrl = !string.IsNullOrWhiteSpace(Model.VideoUrl)
        ? $"https://www.youtube.com/embed/{YoutubeVideoHelper.GetVideoId(Model.VideoUrl)}"
        : null;
}
@if (videoUrl != null)
{
    <div class="ktc-resp-container">
        <iframe data-widget-guid="@widgetGuid" src="@videoUrl" class="ktc-resp-iframe"></iframe>
    </div>
}
else if (Context.Kentico().PageBuilder().EditMode)
{
    Html.RenderPartial("~/Views/Shared/Kentico/InlineEditors/_VideoUrlEditor.cshtml", Model);
}
else
{
    <p>@ResHelper.GetString("Kentico.Widget.Video.VideoUrl.NotSet")</p>
}
