@using Kentico.Widget.Video.Helpers;

@model Kentico.Widget.Video.Models.VideoWidgetViewModel

@{ 
    var widgetGuid = Guid.NewGuid();
    var videoUrl = !string.IsNullOrWhiteSpace(Model.VideoUrl)
        ? $"https://www.youtube.com/embed/{YoutubeVideoHelper.GetVideoId(Model.VideoUrl)}"
        : null;
}

@if (videoUrl != null)
{
    <div class="ktc-resp-container">
        <iframe data-widget-guid="@widgetGuid" src="@videoUrl" class="ktc-resp-iframe"></iframe>
    </div>
} else
{
    <p>Configure video URL in widget properties.</p>
}
