// Override Froala editor's z-indexing since the zIndex option also sets the z-index to the main editor element,
// thus covers the add widget button and they refuse to change this behavior, see https://github.com/froala/wysiwyg-editor/issues/3588
.ktc-rich-text-wrapper {
    .fr-toolbar {
        z-index: inherit !important;

        .fr-more-toolbar {
            z-index: inherit !important;
        }

        .fr-dropdown-menu {
            z-index: 10015 !important;
        }
    }

    .ktc-macro {
        // font-family: "Courier New", Courier, monospace;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 5px;
        padding: 2px;
    
        &:hover {
            box-shadow: 0 0 3px rgba(0, 0, 0, 0.75);
        }
    }
}

.fr-popup.fr-active {
    z-index: 10015 !important;
}

.fr-toolbar.fr-inline.ktc-hidden {
    display: none !important;
}
